body {
  margin: 0;
  font-family:'American Typewriter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jumbotron {
  text-align: center;
  margin-top: 2vh;
  background-color:rgb(231, 250, 240);
  padding:2vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  color: #000;
  background-color:rgb(231, 250, 240);
}


.card-header {
  background-color:rgb(231, 250, 240);
}

.card {
  margin:1vh;
  border:0vh;
}